{% extends 'base.html.twig' %}

{% block title %}Hello FunnyPageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@monicag0321/video/7217286256957426949" data-video-id="7217286256957426949" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@monicag0321" href="https://www.tiktok.com/@monicag0321?refer=embed">@monicag0321</a>  <a target="_blank" title="♬ original sound - Monica" href="https://www.tiktok.com/music/original-sound-7217286242491271942?refer=embed">♬ original sound - Monica</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script> #}
<div class="d-flex justify-content-center mt-5 row">
    <image src="/images/meme.png" width="400" height="300">
    <image src="/images/meme3.jpg" width="400" height="400">
    <image src="/images/meme2.jpg" width="300" height="800">
</div>
{% endblock %}
